<app-home-header></app-home-header>
<app-css-sidenav></app-css-sidenav>
<div class="content-wrapper text-break">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">CSS Fonts</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">

                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    

    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-12">
                    The CSS font properties define the font family, boldness, size, and the style of a text.
                    <br>
                    <br>
                    <h4>CSS Font Families</h4>
                    <br>
                    In CSS, there are two types of font family names:
                    <ul>
                        <li>generic family - a group of font families with a similar look (like "Serif" or "Monospace")</li>
                        <li>font family - a specific font family (like "Times New Roman" or "Arial")</li>
                    </ul>
                    <br>
                    <h4>Font Family</h4>
                    <br>
                    The font family of a text is set with the font-family property.
                    <br>
                    The font-family property should hold several font names as a "fallback" system. If the browser does not support the first font, it tries the next font, and so on.
                    <br>
                    Start with the font you want, and end with a generic family, to let the browser pick a similar font in the generic family, if no other fonts are available.
                    <br>


                    <div class="card-body">
                        <div class="callout callout-success rounded-0">
                            <code>
                                .serif &#123;<br/>  font-family: &quot;Times New Roman&quot;, Times, serif;<br/>&#125;<br/><br/>.sansserif &#123;<br/>  font-family: Arial, Helvetica, sans-serif;<br/>&#125;<br/><br/>.monospace &#123;<br/>  font-family: &quot;Lucida Console&quot;, Courier, monospace;<br/>&#125;<br/>p.impact &#123;<br/>  font-family: Impact, Charcoal, sans-serif;<br/>&#125;
                                <br/>
                            </code>
                        </div>
                    </div>
                    <br>
                    <h4>Font Style</h4>
                    <br>
                    The font-style property is mostly used to specify italic text.
                    <br>
                    This property has three values:
                    <ul>
                        <li>normal - The text is shown normally</li>
                        <li>italic - The text is shown in italics</li>
                        <li>oblique - The text is "leaning" (oblique is very similar to italic, but less supported)</li>
                    </ul>
                    <div class="card-body">
                        <div class="callout callout-success rounded-0">
                            <code>
                                p.normal &#123;<br/>  font-style: normal;<br/>&#125;<br/><br/>p.italic &#123;<br/>  font-style: italic;<br/>&#125;<br/><br/>p.oblique &#123;<br/>  font-style: oblique;<br/>&#125;
                                <br/>
                            </code>
                        </div>
                    </div>
                    <br>
                    <h4>Font Weight</h4>
                    <br>
                    The font-weight property specifies the weight of a font
                    <br>
                    <br>
                    <h4>Font Variant</h4>
                    <br>
                    The font-variant property specifies whether or not a text should be displayed in a small-caps font.
                    <br>
                    In a small-caps font, all lowercase letters are converted to uppercase letters. However, the converted uppercase letters appears in a smaller font size than the original uppercase letters in the text.
                    <br><br>
                    <h4>Font Size</h4>
                    <br>
                    The font-size property sets the size of the text.<br/><br/>Being able to manage the text size is important in web design. However, you should not use font size adjustments to make paragraphs look like headings, or headings look like paragraphs.<br/><br/>Always use the proper HTML tags, like &lt;h1&gt; - &lt;h6&gt; for headings and &lt;p&gt; for paragraphs.<br/><br/>The font-size value can be an absolute, or relative size.
                    <br>
                    Absolute size:
                    <ul>
                        <li>Sets the text to a specified size</li>
                        <li>Does not allow a user to change the text size in all browsers (bad for accessibility reasons)</li>
                        <li>Absolute size is useful when the physical size of the output is known</li>
                    </ul>
                    <br>
                    Relative size:
                    <br>
                    <ul>
                        <li>Sets the size relative to surrounding elements</li>
                        <li>Allows a user to change the text size in browsers</li>
                    </ul>
                    <br>
                    <h4>Set Font Size With Pixels & EM</h4>
                    <br>
                    To allow users to resize the text (in the browser menu), many developers use em instead of pixels.<br/><br/>The em size unit is recommended by the W3C.<br/><br/>1em is equal to the current font size. The default text size in browsers is 16px. So, the default size of 1em is 16px.<br/><br/>The size can be calculated from pixels to em using this formula: pixels/16=em
                    <br>
                    <div class="card-body">
                        <div class="callout callout-success rounded-0">
                            <code>
                                h1 &#123;<br/>  font-size: 40px;<br/>&#125;<br/><br/>h2 &#123;<br/>  font-size: 30px;<br/>&#125;<br/><br/>p &#123;<br/>  font-size: 14px;<br/>&#125;<br/>h1 &#123;<br/>  font-size: 2.5em; /* 40px/16=2.5em */<br/>&#125;<br/><br/>h2 &#123;<br/>  font-size: 1.875em; /* 30px/16=1.875em */<br/>&#125;<br/><br/>p &#123;<br/>  font-size: 0.875em; /* 14px/16=0.875em */<br/>&#125;
                                <br/>
                            </code>
                        </div>
                    </div>
                    <br>
                    <h4>Font Property</h4>
                    <br>
                    To shorten the code, it is also possible to specify all the individual font properties in one property.
                    <br>
                    The font property is a shorthand property for:
                    <ul>
                        <li>font-style</li>
                        <li>font-variant</li>
                        <li>font-weight</li>
                        <li>font-size/line-height</li>
                        <li>font-family</li>
                    </ul>




                    <br>
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-5 text-left">
                    <a [routerLink]="['/text']" type="button"
                        class="btn btn-success btn-flat btn-lg text-white">Previous</a>
                </div>
                <div class="col-4">
        
                </div>
                <div class="col-3 text-right">
                    <a [routerLink]="['/icons']" type="button"
                        class="btn btn-success btn-flat btn-lg text-white">Next</a>
                </div>
        
            </div>
            <br />
        </div>
    </section>
   



    




    <!-- /.content -->




</div>
<app-home-footer></app-home-footer>