<app-home-header></app-home-header>
<app-js-sidenav></app-js-sidenav>
<div class="content-wrapper text-break">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">JavaScript Dates</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">

                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-12">
                    <h4>JavaScript Date Output</h4>
                    <br>
                    <p>By default, JavaScript will use the browser's time zone and display a date as a full text
                        string:

                        Fri Aug 07 2020 17:31:52 GMT+0530 (India Standard Time)
                    </p>
                    <br>







                    <div class="card-body">
                        <div class="callout callout-success rounded-0">
                            <code>
                                var d = new Date();
                                <br/>
                            </code>
                        </div>
                    </div>



                    <br>


                    <h4>Creating Date Objects</h4>
                    <br>
                    Date objects are created with the new Date() constructor.

                    There are 4 ways to create a new date object:
                    <br>
                    <br>






                    <div class="card-body">
                        <div class="callout callout-success rounded-0">
                            <code>
                                new Date()<br/>new Date(year, month, day, hours, minutes, seconds, milliseconds)<br/>new Date(milliseconds)<br/>new Date(date string)

                                <br/>
                            </code>

                        </div>
                    </div>
                    <br>

                    <br>
                    <h4>JavaScript Stores Dates as Milliseconds</h4>
                    <br>
                    <p>SJavaScript stores dates as number of milliseconds since January 01, 1970, 00:00:00 UTC
                        (Universal Time Coordinated).
                    </p>
                    <br>
                    <p>Now the time is: 1596801712987 milliseconds past January 01, 1970</p>
                    <br>
                    <h4>new Date(milliseconds)</h4>
                    <br>
                    <p>new Date(milliseconds) creates a new date object as zero time plus milliseconds:</p>

                    <div class="card-body">
                        <div class="callout callout-success rounded-0">
                            <code>
                                var d = new Date(0);

                                    <br/>
                                </code>

                        </div>
                    </div>
                    <br>

                    <br>
                    <h4>JavaScript Get Date Methods</h4>
                    <br>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Method</th>
                                <th>GDescription</th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>getFullYear()</td>
                                <td>Get the year as a four digit number (yyyy)</td>


                            </tr>
                            <tr>
                                <td>getMonth()</td>
                                <td>Get the month as a number (0-11)</td>


                            </tr>
                            <tr>
                                <td>getDate()/td>
                                <td>Get the day as a number (1-31)</td>


                            </tr>
                            <tr>
                                <td>getHours()</td>
                                <td>Get the hour (0-23)</td>


                            </tr>
                            <tr>
                                <td>getMinutes()</td>
                                <td>Get the minute (0-59)</td>


                            </tr>
                            <tr>
                                <td>getSeconds()</td>
                                <td>Get the second (0-59)</td>


                            </tr>
                            <tr>
                                <td>getMilliseconds()</td>
                                <td>Get the millisecond (0-999)</td>


                            </tr>
                            <tr>
                                <td>getTime()</td>
                                <td>Get the time (milliseconds since January 1, 1970)</td>


                            </tr>
                            <tr>
                                <td>getDay()</td>
                                <td>Get the weekday as a number (0-6)</td>


                            </tr>
                            <tr>
                                <td>Date.now()</td>
                                <td>GGet the time. ECMAScript 5.</td>


                            </tr>
                        </tbody>
                    </table>
                </div>


                <br>


            </div>
            <div class="row">
                <div class="col-5 text-left">
                    <a [routerLink]="['/jsarrays']" type="button"
                        class="btn btn-success btn-flat btn-lg text-white">Previous</a>
                </div>
        
                <div class="col-4">
        
                </div>
                <div class="col-3 text-right">
                    <a [routerLink]="['/jsboolean']" type="button" class="btn btn-success btn-flat btn-lg text-white">Next</a>
                </div>
        
            </div>
            <br />
        </div>
    </section>


    




    <!-- /.content -->




</div>
<app-home-footer></app-home-footer>