<aside class="main-sidebar elevation-4 sidebar-light-success">
    <!-- Brand Logo -->
    <a [routerLink]="['/']" class="brand-link">
      <img src="assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
        style="opacity: .8">
      <span class="brand-text font-weight-light">Code With Knowledge</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->


      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a [routerLink]="['/html-home']" routerLinkActive="active" class="nav-link">
              <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
              <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
              <p>
                HTML HOME
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/html-introduction']" routerLinkActive="active" class="nav-link">
              <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
              <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
              <p>
                HTML Introduction
              </p>
            </a>
          </li>
          <li class="nav-item ">
            <a [routerLink]="['/html-editor']" routerLinkActive="active" class="nav-link">
              <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
              <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
              <p>
                Learn Editors
              </p>
            </a>
          </li>
          <li class="nav-item ">
            <a  [routerLink]="['/html-basic']" routerLinkActive="active" class="nav-link">
                <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                <p>
                    HTML Basic
                </p>
            </a>
        </li>
        <li class="nav-item ">
            <a  [routerLink]="['/html-element']" routerLinkActive="active" class="nav-link">
                <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                <p>
                    HTML Element
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a [routerLink]="['/html-attributes']" routerLinkActive="active" class="nav-link">
                <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                <p>
                    HTML Attributes
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/html-headings']" routerLinkActive="active" class="nav-link">
                <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                <p>
                    HTML Headings
                </p>
            </a>
        </li>
        <li class="nav-item ">
            <a [routerLink]="['/html-paragraph']" routerLinkActive="active" class="nav-link">
                <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                <p>
                    HTML Paragraph
                </p>
            </a>
        </li>
        <li class="nav-item ">
            <a [routerLink]="['/html-style']" routerLinkActive="active" class="nav-link">
                <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                <p>
                    HTML Styles
                </p>
            </a>
        </li>
        <li class="nav-item ">
            <a [routerLink]="['/html-formatting']" routerLinkActive="active" class="nav-link">
                <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                <p>
                    HTML Formatting
                </p>
            </a>
        </li>
        <li class="nav-item ">
            <a [routerLink]="['/html-css']" routerLinkActive="active" class="nav-link">
                <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                <p>
                    HTML CSS
                </p>
            </a>
        </li>
        <li class="nav-item ">
            <a [routerLink]="['/html-links']" routerLinkActive="active" class="nav-link">
                <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                <p>
                    HTML Links
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a [routerLink]="['/html-images']" routerLinkActive="active" class="nav-link">
                <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                <p>
                    HTML Images
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/html-table']" routerLinkActive="active" class="nav-link">
                <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                <p>
                    HTML Table
                </p>
            </a>
        </li>
        <li class="nav-item ">
            <a [routerLink]="['/html-lists']" routerLinkActive="active" class="nav-link">
                <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                <p>
                    HTML Lists
                </p>
            </a>
        </li>
        <li class="nav-item ">
            <a [routerLink]="['/html-classes']" routerLinkActive="active" class="nav-link">
                <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                <p>
                    HTML Classes
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a [routerLink]="['/html-id']" routerLinkActive="active" class="nav-link">
                <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                <p>
                    HTML ID
                </p>
            </a>
        </li>
        <li class="nav-item ">
            <a [routerLink]="['/html-javascript']" routerLinkActive="active" class="nav-link">
                <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                <p>
                    HTML JavaScript
                </p>
            </a>
        </li>
        <li class="nav-item ">
            <a [routerLink]="['/html-filepaths']" routerLinkActive="active" class="nav-link">
                <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                <p>
                    HTML File Paths
                </p>
            </a>
        </li>
        <li class="nav-item ">
            <a [routerLink]="['/html-head']" routerLinkActive="active" class="nav-link">
                <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                <p>
                    HTML Head
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a [routerLink]="['/html-layout']" routerLinkActive="active" class="nav-link">
                <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                <p>
                    HTML Layout
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/exercise']" routerLinkActive="active" class="nav-link">
                <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                <p>
                    HTML Exercise
                </p>
            </a>
        </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>