<app-home-header></app-home-header>
<app-js-sidenav></app-js-sidenav>
<div class="content-wrapper text-break">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">JavaScript Home</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">

                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-12">
                    JavaScript is the world's most popular programming language.<br/><br/>JavaScript is the programming language of the Web.<br/><br/>JavaScript is easy to learn.<br/><br/>This tutorial will teach you JavaScript from basic to advanced.
                    <br><br>


                    <h4>Use the Menu</h4>
                    <br>
                    We recommend reading this tutorial, in the sequence listed in the menu.<br/><br/>If you have a large screen, the menu will always be present on the left.<br/><br/>If you have a small screen, open the menu by clicking the top menu sign &#x2630;.
                    <br>
                    <br>
                    <h4>
                        Why Study JavaScript?
                    </h4>
                    <br>
                    JavaScript is one of the 3 languages all web developers must learn:
                    <ol>
                        <li>HTML to define the content of web pages</li>
                        <li>CSS to specify the layout of web pages</li>
                        <li>JavaScript to program the behavior of web pages</li>
                    </ol>
                    <br>
                    <h4>JavaScript to program the behavior of web pages</h4>
                    <br>
                    In this tutorial, the learning speed is your choice.<br/><br/>Everything is up to you.<br/><br/>If you are struggling, take a break, or re-read the material.<br/><br/>Always make sure you understand all the &quot;Try-it-Yourself&quot; examples.<br/><br/>The only way to become a clever programmer is to: Practice. Practice. Practice. Code. Code. Code !


                    <br>
                    <br>
                </div>
            </div>
            <div class="row">

                <div class="col-9">
        
                </div>
                <div class="col-3 text-right">
                    <a [routerLink]="['/jsintro']" type="button"
                        class="btn btn-success btn-flat btn-lg text-white">Next</a>
                </div>
        
            </div>
            <br />
        </div>
    </section>




   




    <!-- /.content -->




</div>
<app-home-footer></app-home-footer>