<app-home-header></app-home-header>
<app-css-sidenav></app-css-sidenav>
<div class="content-wrapper text-break">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">CSS Backgrounds</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">

                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-12">
                    <p>
                        The CSS background properties are used to define the background effects for elements.
                        <br>
                        In these chapters, you will learn about the following CSS background properties:
                    </p>

                    <br>

                    <ul>
                        <li>background-color</li>
                        <li>background-image</li>
                        <li>background-repeat</li>
                        <li>background-attachment</li>
                        <li>background-position</li>

                    </ul>
                    <br>




                    <h4>CSS background-color</h4>
                    <br>
                    The background color of a page is set like this:
                    <br>

                    <div class="card-body">
                        <div class="callout callout-success rounded-0">
                            <code>
                                body &#123;<br/>  background-color: lightblue;<br/>&#125;
                                <br/>
                            </code>

                        </div>
                    </div>
                    <br>
                    <h4>Other Elements</h4>
                    <br>
                    <p>You can set the background color for any HTML elements:</p>
                    <br>
                    <p>Here, the&lt;h1&gt;, &lt;p&gt;, and &lt;div&gt; elements will have different background
                        colors: </p>
                    <br>
                    <div class="card-body">
                        <div class="callout callout-success rounded-0">
                            <code>
                                h1 &#123;<br/>  background-color: green;<br/>&#125;<br/><br/>div &#123;<br/>  background-color: lightblue;<br/>&#125;<br/><br/>p &#123;<br/>  background-color: yellow;<br/>&#125;
                                    <br/>
                                </code>

                        </div>
                    </div>
                    <br>


                    <h4>Opacity / Transparency</h4>
                    <br>
                    <p>The opacity property specifies the opacity/transparency of an element. It can take a
                        value from 0.0 - 1.0. The lower value, the more transparent:</p>
                    <br>
                    <div class="card-body">
                        <div class="callout callout-success rounded-0">
                            <code>
                                div &#123;<br/>  background-color: green;<br/>  opacity: 0.3;<br/>&#125;
                                 <br/>
                             </code>

                        </div>
                    </div>
                    <br>
                    <h4>Transparency using RGBA</h4>
                    <br>
                    <p>IIf you do not want to apply opacity to child elements, like in our example above, use
                        RGBA color values. The following example sets the opacity for the background color and
                        not the text:

                    </p>

                    <br>
                    <div class="card-body">
                        <div class="callout callout-success rounded-0">
                            <code>
                              div &#123;<br/>  background: rgba(0, 128, 0, 0.3) /* Green background with 30% opacity */<br/>&#125;;<br/>
                                <br/>
                            </code>

                        </div>
                    </div>
                    <br>
                    <h4>CSS Background Image</h4>
                    <br>
                    <p>The background-image property specifies an image to use as the background of an element.

                        By default, the image is repeated so it covers the entire element.
                    </p>
                    <br>
                    <p>The background image for a page can be set like this: </p>
                    <br>

                    <div class="card-body">
                        <div class="callout callout-success rounded-0">
                            <code>
                                body &#123;<br/>  background-image: url(&quot;paper.gif&quot;);<br/>&#125;<br/>
                                <br/>
                            </code>

                        </div>
                    </div>
                    <br>
                    <h4>CSS background-attachment</h4>
                    <br>
                    <p>The background-attachment property specifies whether the background image should scroll
                        or be fixed (will not scroll with the rest of the page):</p>
                    <br>
                    <div class="card-body">
                        <div class="callout callout-success rounded-0">
                            <code>
                                    body &#123;<br/>  background-image: url(&quot;img_tree.png&quot;);<br/>  background-repeat: no-repeat;<br/>  background-position: right top;<br/>  background-attachment: fixed;<br/>&#125;<br/>
                                    <br/>
                                </code>

                        </div>
                    </div>
                    <br>
                    <h4>CSS background - Shorthand property</h4>
                    <br>
                    <p>To shorten the code, it is also possible to specify all the background properties in one
                        single property. This is called a shorthand property.
                    </p>
                    <br>
                    <div class="card-body">
                        <div class="callout callout-success rounded-0">
                            <code>
                                       body &#123;<br/>  background-color: #ffffff;<br/>  background-image: url(&quot;img_tree.png&quot;);<br/>  background-repeat: no-repeat;<br/>  background-position: right top;<br/>&#125;<br/>
                                        <br/>
                                    </code>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-5 text-left">
                    <a [routerLink]="['/comments']" type="button"
                        class="btn btn-success btn-flat btn-lg text-white">Previous</a>
                </div>
                <div class="col-4">
        
                </div>
                <div class="col-3 text-right">
                    <a [routerLink]="['/border']" type="button" class="btn btn-success btn-flat btn-lg text-white">Next</a>
                </div>
        
            </div>
            <br />
        </div>
    </section>





   




    <!-- /.content -->




</div>
<app-home-footer></app-home-footer>