<app-home-header></app-home-header>
<app-html-sidenav></app-html-sidenav>
<div class="content-wrapper text-break">
    <!-- Content Header (Page header) -->

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">HTML Headings</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">

                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-12">

                    HTML headings are titles or subtitles that you want to display on a webpage.
                    <div class="card-body">

                        <div class="callout callout-success rounded-0">
                            <code>
                    Heading 1<br>
                    Heading 2<br>
                    Heading 3<br>
                    Heading 4<br>
                    Heading 5<br>
                    Heading 6<br>
                             </code>
                        </div>

                    </div>
                    <br>

                    <h4>HTML Headings</h4>
                    HTML headings are defined with the &lt;h1&gt; to &lt;h6&gt; tags. <br>
                    &lt;h1&gt; defines the most important heading. &lt;h6&gt; defines the least important heading. <br>

                    <div class="card-body">

                        <div class="callout callout-success rounded-0">
                            <code>
                    &lt;h1&gt;Heading 1&lt;/h1&gt; <br>
                    &lt;h2&gt;Heading 2&lt;/h2&gt; <br>
                    &lt;h3&gt;Heading 3&lt;/h3&gt; <br>
                    &lt;h4&gt;Heading 4&lt;/h4&gt; <br>
                    &lt;h5&gt;Heading 5&lt;/h5&gt; <br>
                    &lt;h6&gt;Heading 6&lt;/h6&gt; <br>
                             </code>
                        </div>

                    </div>
                    <br>
                    Browsers automatically add some white space (a margin) before and after a heading.
                    <br><br>
                    <h4>Headings Are Important</h4>
                    Search engines use the headings to index the structure and content of your web pages. <br>
                    Users often skim a page by its headings. It is important to use headings to show the document
                    structure.
                    <br>
                    &lt;h1&gt; headings should be used for main headings, followed by &lt;h2&gt; headings, then the less
                    important &lt;h3&gt;, and so on.
                    <br><br>
                    <h4>Bigger Headings</h4>
                    <br>
                    Each HTML heading has a default size. However, you can specify the size for any heading with the
                    style attribute, using the CSS font-size property:
                    <br>
                    <div class="card-body">

                        <div class="callout callout-success rounded-0">
                            <code>
                    &lt;h1 style="font-size:60px;"&gt;Heading 1&lt;/h1&gt;
                                       </code>
                        </div>

                    </div>











                    <!-- /.card -->
                    <!-- /.card -->
                </div>

            </div>

            <div class="row">
                <div class="col-5 text-left">
                    <a [routerLink]="['/html-attributes']" type="button"
                        class="btn btn-success btn-flat btn-lg text-white">Previous</a>
                </div>
                <div class="col-4">

                </div>
                <div class="col-3 text-right">
                    <a [routerLink]="['/html-paragraph']" type="button"
                        class="btn btn-success btn-flat btn-lg text-white">Next</a>
                </div>

            </div>
            <br />


            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>

    <!-- /.content -->




</div>
<app-home-footer></app-home-footer>