<app-home-header></app-home-header>
<app-html-sidenav></app-html-sidenav>
<div class="content-wrapper text-break">
    <!-- Content Header (Page header) -->

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">HTML Basic</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">

                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">

            <div class="col-lg-12">

                In this chapter we will show some basic HTML examples.

                Don't worry if we use tags you have not learned about yet. <br /><br />

              <h4>HTML Documents</h4>

              <ul>
                <li>All HTML documents must start with a document type declaration: &lt;!DOCTYPE html&gt;</li>
                <li>The HTML document itself begins with &lt;html&gt; and ends with &lt;/html&gt;.</li>
                <li>The visible part of the HTML document is between &lt;body&gt; and &lt;/body&gt;.</li>
              </ul>

              
                <div class="card-body">

                  <div class="callout callout-success rounded-0">
                    <code>&lt;!DOCTYPE html&gt;<br/>&lt;html&gt;<br/>&lt;body&gt;<br/><br/>&lt;h1&gt;My First Heading&lt;/h1&gt;<br/>&lt;p&gt;My first paragraph.&lt;/p&gt;<br/><br/>&lt;/body&gt;<br/>&lt;/html&gt;</code>
                  </div>
                 

                </div>
           

              <h4>The &lt;!DOCTYPE&gt; Declaration</h4><br>
                
              <ul>
                <li>The &lt;!DOCTYPE&gt; declaration represents the document type, and helps browsers to display web pages correctly.</li>
                <li>It must only appear once, at the top of the page (before any HTML tags).</li>
                <li>The &lt;!DOCTYPE&gt; declaration is not case sensitive.</li>
                <li>The &lt;!DOCTYPE&gt; declaration for HTML5 is:</li>
              </ul>
              <div class="card-body">

                <div class="callout callout-success rounded-0">
                  <code>&lt;!DOCTYPE html&gt;</code>
                </div>

              </div>

              <h4>HTML Headings</h4>

              <ul>
                <li>HTML headings are defined with the &lt;h1&gt; to &lt;h6&gt; tags.</li>
                <li> &lt;h1&gt;defines the most important heading. &lt;h6&gt; defines the least important heading: </li>
              </ul>
              <div class="card-body">

                <div class="callout callout-success rounded-0">
                   <code>
                    &lt;h1&gt; This is H1 heading &lt;/h1&gt;<br>
                    &lt;h2&gt; This is H2 heading &lt;/h2&gt;<br>
                    &lt;h3&gt; This is H3 heading &lt;/h3&gt;<br>
                    &lt;h4&gt; This is H4 heading &lt;/h4&gt;<br>
                    &lt;h5&gt; This is H5 heading &lt;/h5&gt;<br>
                    &lt;h6&gt; This is H6 heading &lt;/h6&gt;<br>
                    </code>
                </div>
                </div>

                <h4>HTML Paragraph</h4>

                <ul>
                  <li>HTML paragraphs are defined with the &lt;p&gt; tag:</li>
                 
                </ul>
                <div class="card-body">
  
                  <div class="callout callout-success rounded-0">
                    <code>
                        &lt;p&gt; This is a paragraph &lt;/p&gt;<br>
                        &lt;p&gt; This is a another paragraph &lt;/p&gt;<br>
                    </code>
                  </div>
                </div>
            
                  
                <h4>HTML Links</h4>

                <ul>
                  <li>HTML links are defined with the &lt;a&gt; tag:</li>
                 
                </ul>
                <div class="card-body">
  
                  <div class="callout callout-success rounded-0">
                    <code>
                        &lt;a href="https://www.youtube.com"&gt; This is a link &lt;/a&gt;<br>
                        
                    </code>
                  </div>
                </div>
                <ul>
                    <li>The link's destination is specified in the href attribute. </li>
                    <li>Attributes are used to provide additional information about HTML elements. </li>
                    <li>You will learn more about attributes in a later chapter. </li>
                  </ul>

                  <h4>HTML Images</h4>

                  <ul>
                    <li>HTML images are defined with the &lt;img&gt; tag.</li>
                    <li>The source file (src), alternative text (alt), width, and height are provided as attributes:</li>
                  </ul>
                  <div class="card-body">
    
                    <div class="callout callout-success rounded-0">
                      <code>
                          &lt;img src="image.jpg" alt="www.youtube.com" width="104" height="142"&gt;<br>
                          
                      </code>
                    </div>
                  </div>
                 




              <!-- /.card -->
              <!-- /.card -->
            </div>

          </div>

          <div class="row">
            <div class="col-5 text-left">
              <a [routerLink]="['/html-editor']" type="button" class="btn btn-success btn-flat btn-lg text-white">Previous</a>
            </div>
            <div class="col-4">

            </div>
            <div class="col-3 text-right">
              <a [routerLink]="['/html-element']" type="button" class="btn btn-success btn-flat btn-lg text-white">Next</a>
            </div>

          </div>
          <br />


          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    
</div>
<app-home-footer></app-home-footer>