<aside class="main-sidebar elevation-4 sidebar-light-success">
    <!-- Brand Logo -->
    <a [routerLink]="['/']" class="brand-link">
        <img src="assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">Code With Knowledge</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->


        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a [routerLink]="['/homecss']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            CSS HOME
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                <a [routerLink]="['/cssintroduction']" routerLinkActive="active" class="nav-link">
                    <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                    <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                    <p>
                        CSS Introduction
                    </p>
                </a>
                </li>
                <li class="nav-item">
                <a [routerLink]="['/syntax']" routerLinkActive="active" class="nav-link">
                    <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                    <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                    <p>
                        CSS Syntax
                    </p>
                </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/howto']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            CSS How TO
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/comments']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            CSS Comments
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/backgrounds']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            CSS Backgrounds
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/border']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            CSS Border
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/margins']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            CSS Margins
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/heightwidthpadding']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            CSS Height, Width & Padding
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/boxmodel']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            CSS Box Model
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/outline']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            CSS Outline
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/text']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            CSS Text
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/fonts']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            CSS Fonts
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/icons']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            CSS Icons
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/csslink']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            CSS Links
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/csstable']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            CSS Table
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/position']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            CSS Position
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/overflow']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            CSS Overflow
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/floatinlineblock']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            CSS Float, Inline-Block
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/align']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            CSS Align
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/navigationbar']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            CSS Navigation Bar
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/dropdowns']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            CSS Dropdowns
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/cssexercise']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            CSS Exercise
                        </p>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>