<app-home-header></app-home-header>
<app-html-sidenav></app-html-sidenav>
<div class="content-wrapper text-break">
    <!-- Content Header (Page header) -->

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">HTML Table</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">

                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-12">
                    <p>HTML tables allow web developers to arrange data into rows and columns.</p>
                    <br>

                    <div class="container">

                        <table class="table table-striped">
                            <tr>
                                <th>Company</th>
                                <th>Contact</th>
                                <th>Country</th>
                            </tr>
                            <tr>
                                <td>Alfreds Futterkiste</td>
                                <td>Maria Anders</td>
                                <td>Germany</td>
                            </tr>
                            <tr>
                                <td>Centro comercial Moctezuma</td>
                                <td>Francisco Chang</td>
                                <td>Mexico</td>
                            </tr>
                            <tr>
                                <td>Ernst Handel</td>
                                <td>Roland Mendel</td>
                                <td>Austria</td>
                            </tr>
                            <tr>
                                <td>Island Trading</td>
                                <td>Helen Bennett</td>
                                <td>UK</td>
                            </tr>
                            <tr>
                                <td>Laughing Bacchus Winecellars</td>
                                <td>Yoshi Tannamuri</td>
                                <td>Canada</td>
                            </tr>
                            <tr>
                                <td>Magazzini Alimentari Riuniti</td>
                                <td>Giovanni Rovelli</td>
                                <td>Italy</td>
                            </tr>
                        </table>
                    </div>

                    <br>


                    <h4>Define an HTML Table</h4>
                    <br>
                    The &lt;table&gt; tag defines an HTML table.
                    <br>
                    <br>

                    Each table row is defined with a &lt;tr&gt;tag. Each table header is defined with a
                    &lt;th&gt;
                    tag. Each table data/cell is defined with a
                    &lt;td&gt; tag.
                    <br>
                    <br>
                    By default, the text in &lt;th&gt; elements are bold and centered.
                    <br>
                    <br>
                    By default, the text in &lt;td&gt; elements are regular and left-aligned.
                    <br>
                    <div class="card-body">
                        <div class="callout callout-success rounded-0">
                            <code>
                                    table style=&quot;width:100%&quot;&gt;<br/>  &lt;tr&gt;<br/>    &lt;th&gt;Firstname&lt;/th&gt;<br/>    &lt;th&gt;Lastname&lt;/th&gt;<br/>    &lt;th&gt;Age&lt;/th&gt;<br/>  &lt;/tr&gt;<br/>  &lt;tr&gt;<br/>    &lt;td&gt;Jill&lt;/td&gt;<br/>    &lt;td&gt;Smith&lt;/td&gt;<br/>    &lt;td&gt;50&lt;/td&gt;<br/>  &lt;/tr&gt;<br/>  &lt;tr&gt;<br/>    &lt;td&gt;Eve&lt;/td&gt;<br/>    &lt;td&gt;Jackson&lt;/td&gt;<br/>    &lt;td&gt;94&lt;/td&gt;<br/>  &lt;/tr&gt;<br/>&lt;/table&gt;

                           
                            </code>
                        </div>
                    </div>

                    <h4>HTML Table - Add a Border</h4>
                    <br>
                    To add a border to a table, use the CSS border property:
                    <div class="card-body">
                        <div class="callout callout-success rounded-0">
                            <code>
                            table, th, td &#123; <br/>  border: 1px solid black;<br/>&#125;

                            <br/>
                            </code>
                        </div>
                    </div>
                    <br>
                    <h4>HTML Table - Collapsed Borders</h4>
                    <br>
                    To let the borders collapse into one border, add the CSS border-collapse property:
                    <br>
                    <div class="card-body">
                        <div class="callout callout-success rounded-0">
                            <code>
                                table, th, td &#123;<br/>  border: 1px solid black;<br/>  border-collapse: collapse;<br/>&#125;
                            <br/>
                        </code>
                        </div>
                    </div>
                    <br>
                    <h4>HTML Table - Add Cell Padding</h4>
                    <br>
                    Cell padding specifies the space between the cell content and its borders.

                    If you do not specify a padding, the table cells will be displayed without padding.

                    To set the padding, use the CSS padding property:
                    <br>
                    <div class="card-body">
                        <div class="callout callout-success rounded-0">
                            <code>
                                    th, td &#123;<br/>  padding: 15px;<br/>&#125;
                                <br/>
                            </code>
                        </div>
                    </div>
                    <br>
                    <h4>HTML Table - Left-align Headings</h4>
                    <br>
                    By default, table headings are bold and centered.

                    To left-align the table headings, use the CSS text-align property:
                    <br>
                    <div class="card-body">
                        <div class="callout callout-success rounded-0">
                            <code>
                                        th &#123;<br/>  text-align: left;<br/>&#125;
                                    <br/>
                                </code>
                        </div>
                    </div>
                    <br>
                    <h4>HTML Table - Cell that Span Many Columns</h4>
                    <br>
                    To make a cell span more than one column, use the colspan attribute:
                    <br>
                    <div class="card-body">
                        <div class="callout callout-success rounded-0">
                            <code>
                                            &lt;table style=&quot;width:100%&quot;&gt;<br/>  &lt;tr&gt;<br/>    &lt;th&gt;Name&lt;/th&gt;<br/>    &lt;th colspan=&quot;2&quot;&gt;Telephone&lt;/th&gt;<br/>  &lt;/tr&gt;<br/>  &lt;tr&gt;<br/>    &lt;td&gt;Bill Gates&lt;/td&gt;<br/>    &lt;td&gt;55577854&lt;/td&gt;<br/>    &lt;td&gt;55577855&lt;/td&gt;<br/>  &lt;/tr&gt;<br/>&lt;/table&gt;
                                        <br/>
                                    </code>
                        </div>
                    </div>
                    <br>
                    <h4>HTML Table - Cell that Span Many Rows</h4>
                    <br>
                    To make a cell span more than one row, use the rowspan attribute:
                    <br>
                    <div class="card-body">
                        <div class="callout callout-success rounded-0">
                            <code>
                                                &lt;table style=&quot;width:100%&quot;&gt;<br/>  &lt;tr&gt;<br/>    &lt;th&gt;Name:&lt;/th&gt;<br/>    &lt;td&gt;Bill Gates&lt;/td&gt;<br/>  &lt;/tr&gt;<br/>  &lt;tr&gt;<br/>    &lt;th rowspan=&quot;2&quot;&gt;Telephone:&lt;/th&gt;<br/>    &lt;td&gt;55577854&lt;/td&gt;<br/>  &lt;/tr&gt;<br/>  &lt;tr&gt;<br/>    &lt;td&gt;55577855&lt;/td&gt;<br/>  &lt;/tr&gt;<br/>&lt;/table&gt;
                                            <br/>
                                        </code>
                        </div>
                    </div>
                    <br>
                    <h4>A Special Style for One Table</h4>
                    <br>
                    To define a special style for one particular table, add an id attribute
                    to the table:
                    <br>
                    <div class="card-body">
                        <div class="callout callout-success rounded-0">
                            <code>
                                                    &lt;table id=&quot;t01&quot;&gt;<br/>  &lt;tr&gt;<br/>    &lt;th&gt;Firstname&lt;/th&gt;<br/>    &lt;th&gt;Lastname&lt;/th&gt;<br/>    &lt;th&gt;Age&lt;/th&gt;<br/>  &lt;/tr&gt;<br/>  &lt;tr&gt;<br/>    &lt;td&gt;Eve&lt;/td&gt;<br/>    &lt;td&gt;Jackson&lt;/td&gt;<br/>    &lt;td&gt;94&lt;/td&gt;<br/>  &lt;/tr&gt;<br/>&lt;/table&gt;
                                                <br/>
                                            </code>
                        </div>
                    </div>
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-5 text-left">
                    <a [routerLink]="['/html-images']" type="button"
                        class="btn btn-success btn-flat btn-lg text-white">Previous</a>
                </div>
                <div class="col-4">
        
                </div>
                <div class="col-3 text-right">
                    <a [routerLink]="['/html-lists']" type="button" class="btn btn-success btn-flat btn-lg text-white">Next</a>
                </div>
        
            </div>
            <br />
        </div>
    </section>



   




    <!-- /.content -->




</div>
<app-home-footer></app-home-footer>