<app-home-header></app-home-header>
<app-css-sidenav></app-css-sidenav>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <h1 class="m-0 text-dark">CSS Exercise</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <form class="row" [formGroup]="exerciseForm">

                    <div class="col-lg-12 border" style="padding: 2em; background-color: rgb(255, 255, 255);">
                        <h5>Q.1: If we don't want to allow a floating div to the left side of an element, which css property
                            will we use?
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <ng-container *ngIf="exerciseForm.value.q1 != null">
                                <i *ngIf="exerciseForm.value.q1 == answer.q1" class="fa fa-check" aria-hidden="true"
                                    style="color:green;"></i>
                                <i *ngIf="exerciseForm.value.q1 != answer.q1" class="fa fa-times" aria-hidden="true"
                                    style="color:red;"></i>
                            </ng-container>

                        </h5>

                        <br>
                        <ol type="A">
                            <li><input id="q1-a" formControlName="q1" type="radio" value="a">
                                <label for="q1-a">&nbsp;margin </label><br></li>
                            <li><input id="q1-b" type="radio" formControlName="q1" value="b">
                                <label for="q1-b">&nbsp;clear </label><br></li>
                            <li><input id="q1-c" type="radio" formControlName="q1" value="c">
                                <label for="q1-c">&nbsp;float </label><br></li>
                            <li><input id="q1-d" type="radio" formControlName="q1" value="d">
                                <label for="q1-d">&nbsp;padding</label><br></li>
                        </ol>
                    </div>

                    <div class="col-lg-12 border" style="padding: 2em; background-color: rgb(231, 228, 228);">
                        <h5>Q.2: If we want to wrap a block of text around an image, which css property will we use?
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <ng-container *ngIf="exerciseForm.value.q2 != null">
                                <i *ngIf="exerciseForm.value.q2 == answer.q2" class="fa fa-check" aria-hidden="true"
                                    style="color:green;"></i>
                                <i *ngIf="exerciseForm.value.q2 != answer.q2" class="fa fa-times" aria-hidden="true"
                                    style="color:red;"></i>
                            </ng-container>

                        </h5>

                        <br>
                        <ol type="A">
                            <li><input id="q2-a" formControlName="q2" type="radio" value="a">
                                <label for="q2-a">&nbsp; wrap </label><br></li>
                            <li><input id="q2-b" type="radio" formControlName="q2" value="b">
                                <label for="q2-b">&nbsp; push</label><br></li>
                            <li><input id="q2-c" type="radio" formControlName="q2" value="c">
                                <label for="q2-c">&nbsp; float</label><br></li>
                            <li><input id="q2-d" type="radio" formControlName="q2" value="d">
                                <label for="q2-d">&nbsp; align</label><br></li>
                        </ol>
                    </div>




                    <div class="col-lg-12 border" style="padding: 2em; background-color: rgb(255, 255, 255);">
                        <h5>Q.3: If we want to use a nice looking green dotted border around an image, which css property will we use?
                            
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <ng-container *ngIf="exerciseForm.value.q3 != null">
                                <i *ngIf="exerciseForm.value.q3 == answer.q3" class="fa fa-check" aria-hidden="true"
                                    style="color:green;"></i>
                                <i *ngIf="exerciseForm.value.q3 != answer.q3" class="fa fa-times" aria-hidden="true"
                                    style="color:red;"></i>
                            </ng-container>

                        </h5>

                        <br>
                        <ol type="A">
                            <li><input id="q3-a" formControlName="q3" type="radio" value="a">
                                <label for="q3-a">&nbsp;border-color </label><br></li>
                            <li><input id="q3-b" type="radio" formControlName="q3" value="b">
                                <label for="q3-b">&nbsp;border-decoration</label><br></li>
                            <li><input id="q3-c" type="radio" formControlName="q3" value="c">
                                <label for="q3-c">&nbsp;border-style </label><br></li>
                            <li><input id="q3-d" type="radio" formControlName="q3" value="d">
                                <label for="q3-d">&nbsp;border-line </label><br></li>
                        </ol>
                    </div>

                    <div class="col-lg-12 border" style="padding: 2em; background-color: rgb(231, 228, 228);">
                        <h5>Q.4: Which element is used in the &lt; HEAD &gt; section on an HTML / XHTMLpage, if we want to use an external style sheet file to decorate the page?
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <ng-container *ngIf="exerciseForm.value.q4 != null">
                                <i *ngIf="exerciseForm.value.q4 == answer.q4" class="fa fa-check" aria-hidden="true"
                                    style="color:green;"></i>
                                <i *ngIf="exerciseForm.value.q4 != answer.q4" class="fa fa-times" aria-hidden="true"
                                    style="color:red;"></i>
                            </ng-container>

                        </h5>

                        <br>
                        <ol type="A">
                            <li><input id="q4-a" formControlName="q4" type="radio" value="a">
                                <label for="q4-a">&nbsp; &lt; src &gt; </label><br></li>
                            <li><input id="q4-b" type="radio" formControlName="q4" value="b">
                                <label for="q4-b">&nbsp;&lt; link &gt;</label><br></li>
                            <li><input id="q4-c" type="radio" formControlName="q4" value="c">
                                <label for="q4-c">&nbsp;&lt; style &gt;</label><br></li>
                            <li><input id="q4-d" type="radio" formControlName="q4" value="d">
                                <label for="q4-d">&nbsp; &lt; css &gt;</label><br></li>
                        </ol>
                    </div>

                    <div class="col-lg-12 border" style="padding: 2em; background-color: rgb(255, 255, 255);">
                        <h5>Q.5: How can we write comment along with CSS code ?
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <ng-container *ngIf="exerciseForm.value.q5 != null">
                                <i *ngIf="exerciseForm.value.q5 == answer.q5" class="fa fa-check" aria-hidden="true"
                                    style="color:green;"></i>
                                <i *ngIf="exerciseForm.value.q5 != answer.q5" class="fa fa-times" aria-hidden="true"
                                    style="color:red;"></i>
                            </ng-container>

                        </h5>

                        <br>
                        <ol type="A">
                            <li><input id="q5-a" formControlName="q5" type="radio" value="a">
                                <label for="q5-a">&nbsp; /* a comment */ </label><br></li>
                            <li><input id="q5-b" type="radio" formControlName="q5" value="b">
                                <label for="q5-b">&nbsp; / a comment / </label><br></li>
                            <li><input id="q5-c" type="radio" formControlName="q5" value="c">
                                <label for="q5-c">&nbsp; // a comment // </label><br></li>
                            <li><input id="q5-d" type="radio" formControlName="q5" value="d">
                                <label for="q5-d">&nbsp; all of these </label><br></li>
                        </ol>
                    </div>


                    <!-- <button type="button" class="btn btn-block btn-primary col-sm-2"
                        style="margin-left: 45%;">Submit</button> -->
                </form>
                <!-- /.row -->
            </div><!-- /.container-fluid -->

        </div>
    </section>
    <!-- /.content -->
</div>


<app-home-footer></app-home-footer>