<aside class="main-sidebar elevation-4 sidebar-light-success">
    <!-- Brand Logo -->
    <a [routerLink]="['/']" class="brand-link">
        <img src="assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">Code With Knowledge</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->


        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a [routerLink]="['/javahome']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            JavaScript HOME
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                <a [routerLink]="['/jsintro']" routerLinkActive="active" class="nav-link">
                    <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                    <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                    <p>
                        JavaScript Introduction
                    </p>
                </a>
                </li>
                <li class="nav-item">
                <a [routerLink]="['/jswhereto']" routerLinkActive="active" class="nav-link">
                    <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                    <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                    <p>
                        JS Whereto
                    </p>
                </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/comment']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            JS Comment
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/jsstatement']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            JS Statement
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/jsvariables']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            JS Variables
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/jsoperators']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            JS Operators
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/jsfunctions']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            JS Functions
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/jsobjects']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            JS Objects
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/jsevents']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            JS Events
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/jsstrings']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            JS Strings
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/jsarrays']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            JS Arrays
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/jsdats']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            JS Dates
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/jsboolean']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            JS Boolean
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/jsforloop']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            JS For Loop
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/jswhileloop']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            JS While Loop
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/jsbreakpoint']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            JS Break Point
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/debuggin']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            JS Debuggin
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/jason']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            JSON
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/javaexercise']" routerLinkActive="active" class="nav-link">
                        <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                        <i class="nav-icon fas fa-book" aria-hidden="true"> </i>
                        <p>
                            JavaScript Exercise
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>