<app-home-header></app-home-header>
<app-js-sidenav></app-js-sidenav>
<div class="content-wrapper text-break">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">JavaScript Break and Continue</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">

                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-12">
                    <p>The break statement "jumps out" of a loop.

                        The continue statement "jumps over" one iteration in the loop.

                    </p>
                    <br>
                    <h4>The Break Statement</h4>
                    <br>


                    <p>You have already seen the break statement used in an earlier chapter of this tutorial. It
                        was used to "jump out" of a switch() statement.

                        The break statement can also be used to jump out of a loop.

                        The break statement breaks the loop and continues executing the code after the loop (if
                        any):
                    </p>
                    <br>






                    <div class="card-body">
                        <div class="callout callout-success rounded-0">
                            <code>
                                for (i = 0; i &lt; 10; i++) &#123;<br/>  if (i === 3) &#123; break; &#125;<br/>  text += &quot;The number is &quot; + i + &quot;&lt;br&gt;&quot;;<br/>&#125;

                                <br/>
                            </code>
                        </div>
                    </div>
                    <br>


                    <h4>The Continue Statement</h4>
                    <br>
                    <p>TThe continue statement breaks one iteration (in the loop), if a specified condition
                        occurs, and continues with the next iteration in the loop.<br /><br />This example
                        skips the value of 3:
                    </p>
                    <br>
                    <div class="card-body">
                        <div class="callout callout-success rounded-0">
                            <code>
                                    for (i = 0; i &lt; 10; i++) &#123;<br/>  if (i === 3) &#123; continue; &#125;<br/>  text += &quot;The number is &quot; + i + &quot;&lt;br&gt;&quot;;<br/>&#125;<br/>

                                <br/>
                            </code>
                        </div>
                    </div>




                    <br>


                    <h4>JavaScript Labels</h4>
                    <br>
                    To label JavaScript statements you precede the statements with a label name and a colon:
                    <br>
                    <br>





                    <div class="card-body">
                        <div class="callout callout-success rounded-0">
                            <code>
                                    label:<br/>statements

                                <br/>
                            </code>

                        </div>
                    </div>
                    <br>

                    <br>

                    <p> The break and the continue statements are the only JavaScript statements that can
                        "jump out of" a code block.

                        Syntax:
                    </p>
                    <br>



                    <div class="card-body">
                        <div class="callout callout-success rounded-0">
                            <code>
                                    break labelname;<br/><br/>continue labelname;
                                    <br/>
                                </code>

                        </div>
                    </div>
                    <br>
                    <p>The continue statement (with or without a label reference) can only be used to skip
                        one loop iteration.

                        The break statement, without a label reference, can only be used to jump out of a
                        loop or a switch.

                        With a label reference, the break statement can be used to jump out of any code
                        block:
                    </p>
                    <br>
                    <div class="card-body">
                        <div class="callout callout-success rounded-0">
                            <code>
                                    var cars = [&quot;BMW&quot;, &quot;Volvo&quot;, &quot;Saab&quot;, &quot;Ford&quot;];<br/>list: &#123;<br/>  text += cars[0] + &quot;&lt;br&gt;&quot;;<br/>  text += cars[1] + &quot;&lt;br&gt;&quot;;<br/>  break list;<br/>  text += cars[2] + &quot;&lt;br&gt;&quot;;<br/>  text += cars[3] + &quot;&lt;br&gt;&quot;;<br/>&#125;
                                    <br/>
                                </code>

                        </div>
                    </div>
                    <br>

































                </div>
            </div>
            <div class="row">
                <div class="col-5 text-left">
                    <a [routerLink]="['/jswhileloop']" type="button"
                        class="btn btn-success btn-flat btn-lg text-white">Previous</a>
                </div>
        
                <div class="col-4">
        
                </div>
                <div class="col-3 text-right">
                    <a [routerLink]="['/debuggin']" type="button"
                        class="btn btn-success btn-flat btn-lg text-white">Next</a>
                </div>
        
            </div>
            <br />
        </div>
    </section>
    


    




    <!-- /.content -->




</div>
<app-home-footer></app-home-footer>